<aside class="container">
    <app-post-it *ngFor="let postItList of (playerList | async); let i = index" [style]="{'transform': 'rotate(' + rotation[i] + 'deg)' }">
        <ul class="player_list">
            <li (click)="givePoint(player)" *ngFor="let player of postItList" [ngClass]="(player.id === (activePlayer | async)) ? 'active' : ''" class="player">
                <h2>{{player.name}}</h2>
                <p>{{player.score}}</p>
            </li>
        </ul>
    </app-post-it>
</aside>