$font: 'Schoolbell', cursive;


$textOnPrimary: white;
$primary: #43655a;
$primaryOpacity: rgba(67, 101, 90, 0.9);
$primaryHighlight: #669788;
$primaryDarker: #2c423b;

$textOnSecondary: white;
$secondary: #889fa5;


$border: #00754b;