@import "../../styles.scss";

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
        display: flex;
        .it {
            transform: rotate(-40deg);
        }
    }
    .settings {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        label {
            display: flex;
            align-items: center;
            font-size: 1.5em;
            p-dropdown {
                margin-left: 1em;
            }
        }

        .rounds_container {
            display: flex;
            .round_number {
                font-size: 3em;
                margin: 12px;
                opacity: .3;
                cursor: pointer;
                position: relative;
                svg {
                    fill: none;
                    stroke: $border;
                    stroke-width: 16;
                    stroke-miterlimit: 10;
                    stroke-dasharray: 550;
                    stroke-dashoffset: 550;
                    stroke-linecap: round;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: calc(100% + 60px);
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    transition: stroke-dashoffset 0s 0.2s, opacity .05s;
                }
                &:hover {
                    transform: scale(1.2);
                    svg {
                        stroke-dashoffset: 0;
                        opacity: 1;
                        transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                    }
                }
                &.selected {
                    opacity: 1;
                }
            }
        }
    }
    .players {
        display: flex;
        button {
            font-family: $font;
        }
        input {
            border-radius: 2rem;
            border: 1px solid #00754b;
            outline: none;
            text-align: center;
            width: 12em;
            font-weight: 600;
            font-size: 1.5em;
        }
    }
    .play {
        font-size: 2em; 
        //font-size: 4em; 
        fa-icon {
            font-size: 0.5em;
        }
    }
    label {
        cursor: pointer;
    }
}
